
    <li class="nav-item"><a class="nav-link {% if isSubPath('admin.posts') %}active{% endif %}" href="{{path('admin.posts')}}">Articles</a></li>
    <li class="nav-item"><a class="nav-link {% if isSubPath('admin.categories') %}active{% endif %}" href="{{path('admin.categories')}}">Catégories</a></li>

